.mail-compose {
    position: fixed;
    bottom:0;
    right:50px;
    height:600px; 
    width:600px;
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14),0px 3px 14px 2px rgba(0,0,0,.12),0px 5px 5px -3px rgba(0,0,0,.2);
}

.compose-header{
    padding: 10px 16px;
    background-color: var(--read-subject);
    color: white;
}

.compose-header button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3rem;
}

.compose-header button:hover{
    cursor: pointer;
}

.compose-main{
    padding: 0 16px;
    font-size: 0.875rem;
    background-color: white;
}

.compose-main input{
    border: none;
    box-shadow:  0 -1px 0 0 rgba(100,121,143,0.122);
    padding: 8px 0;
    font-family: roboto;
}

.compose-main input:active{
    outline: none;
}

.compose-main textarea{
    border:none;
    resize: none;
    font-family: roboto;
}
