.mail-preview{
    padding: 10px 10px;
    align-items: center;
    font-size: 0.875rem;
    box-shadow:  0 -1px 0 0 rgba(100,121,143,0.122);
}

.mail-preview:hover{
    box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    cursor: pointer;
}

.mail-preview h3{
    font-weight: 100;
    font-family: roboto-bold;
}

.mail-preview .sender-name{
    min-width: 300px;
}

.mail-preview .subj-body{
    align-items: center;
}

.mail-preview .body{
    height: 15px;
    overflow: hidden;
    max-width: 85%;
}

.mail-preview .date{
    min-width:140px;
    justify-content: flex-end;
    margin-left: auto;
}

.read{
    background-color: var(--read-bg);
}

.read >*{
    font-family: roboto;
}

.mail-preview button{
    width:27px;
    border:none;
    background-color: transparent;
}

.mail-preview button{
    cursor: pointer;
}

.mail-preview .star-button{
    margin-right:15px;
}

.mail-preview .star-button:hover{
    box-shadow: 0px 0px 2px 5px var(--read-bg);
    background-color: var(--read-bg);
    border-radius: 50%
}

.mail-preview button img{
    width:20px;
    height:auto;
}