@media (max-width: 1240px) {

    .app-menu-icon{
        margin-right: 5px;
    }

    .mail-app .interface button {
        padding-left: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mail-preview {
        flex-direction: column;
        align-items: stretch;
        position: relative;
        gap: 3px;
    }

    .mail-preview .star-button {
        position: absolute;
        right: 20px;
        bottom: 10px;
    }

    .mail-preview .subj-body {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3px;
    }

    .subj-body .subject {
        font-size: 0.85rem;
    }

    .mail-preview .body {
        max-width: 76vw;
    }

    .mail-preview .date {
        position: absolute;
        right: 5px;
    }

    .mail-preview button {
        position: absolute;
        right: 0;
        bottom: 8px;
    }

    .mail-compose {
        height: 400px;
        width: 400px;
        right: 20px;
    }

    .app-header {
        padding: 0;
    }

    .app-header nav a {
        margin-right: 10px
    }



}

/* was 792px */
@media (max-width: 600px) {
    .mail-app {
        flex-direction: column;
    }

    .toggle-menu-button {
        font-size: 1.4rem;
        margin-left: 5px;
    }

    #chk:checked+.interface {
        display: flex;
    }

    .dark-label {
        display: block;
        width: 30vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.78);
        position: fixed;
        left: 70vw;
    }

    .interface {
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
        margin-right: auto;
        position: fixed;
        z-index: 1;
        background: white;
        width: 70vw;
        height: 100vh;
    }

    .interface button {
        padding-left: 19px;
        font-size: 0.9rem;
        padding-right: 13px;
    }

    .mail-folder-list {
        width: 100%
    }

    .mail-folder-list .folder {
        padding: 10px 14px;
        font-size: 1.2rem
    }

    .mail-folder-list .folder:hover {
        border-radius: 12px;
    }

    .mail-folder-list h5 {
        display: block;
    }

    .folder-active {
        border-radius: 12px;
    }

    .main-mail {
        width: 100%;
    }

    .mail-detail {
        width: 100%;
        padding: 25px;
    }

    .mail-compose {
        height: 100vh;
        width: 100vw;
        right: 0;
    }

    .mail-compose main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .compose-main {
        height: 100%;
    }

    .compose-main textarea {
        flex-grow: 1;
    }

    .compose-main button {
        position: fixed;
        top: 5px;
        right: 51px;
        width: 60px;
    }

    .logo {
        font-size: 1rem;
    }

    .logo span {
        font-size: 2rem;
    }


}

@media (max-width: 439px) {
    .interface {
        gap: 0;
    }

    .mail-folder-list .folder {
        margin-right: 0;
    }

    .mail-filter {
        margin-right: 2px;
        align-items: center;
    }

    .logo {
        font-size: 0.8rem;
        margin-right: 5px;
    }

    .logo span {
        font-size: 1.2rem;
    }

    .mail-filter .search-bar {
        height: 30px;
        flex-grow: 0;
        width: 161px;
    }
}


/* was 793 */
@media (min-width: 601px) {
    .interface button {
        margin-left: 0;
        margin-top: 10px;
    }

    .compose-main textarea {
        height: 250px;
    }

    .interface {
        min-width: 99px;
    }

    .toggle-menu-button {
        display: none;
    }

}


@media (min-width: 1241px) {
    .compose-main textarea {
        height: 443px;
    }


    .interface {
        padding-left: 20px;
        min-width: 190px;
    }
}