.home {
    height: 800px;
    justify-content: center;
    background-color: rgb(250, 254, 255);
    box-shadow: 0px -1px 0px 1px rgba(65,69,73,.3);
}

.home a:first-of-type {
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
    padding: 30px;
    background-color: rgb(146, 148, 120);
    box-shadow: -1px 1px 3px 1px #b3b3b3;
    margin-inline-end: 40px;
}

.home .to-apps-btns {
    transform: translateY(220px);
}

.home a {
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
    padding: 30px;
    background-color: rgb(223, 233, 214);
    box-shadow: -1px 1px 3px 1px #b3b3b3;
    margin-inline-end: 40px;
}

.home a :last-of-type {
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
    padding: 30px;
    background-color: rgb(146, 148, 120);
    box-shadow: -1px 1px 3px 1px #b3b3b3;
}

.home > img:first-child {
    width: 1066px;
    height: 800px;
    position: absolute;
    z-index: 0;
}