.note-add-input {
  margin-top: 35px;
  margin-bottom: 35px;
  transition: 0.3s ease;
}

.note-add-input form {
  box-shadow: -1px 2px 4px 1px #cbcbcb;
  border: 1px solid rgb(197, 197, 197);
  width: 600px;
  border-radius: 10px;
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.note-add-input form input:focus {
  outline: 2px solid rgb(241, 241, 241);
}

.note-add-input textarea,
.note-add-input input {
  transition: 0.3s ease;
  display: inline-block;
  width: 400px;
  height: inherit;
  border-radius: 5px;
  border: none;
  font-family: roboto, Arial, sans-serif;
  font-size: 1.125rem;
  color: #4c4c4c;
  resize: none;
  vertical-align: top;
  background-color: transparent;
}

.note-add-input div textarea:last-of-type {
  margin-bottom: 15px;
}

.note-add-input textarea:focus {
  outline: 2px solid rgb(241, 241, 241);
}

.note-add-input input[name="title"] {
  margin-bottom: 25px;
  font-size: 1.6rem;
  font-weight: bold;
}

.note-add-input img {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.note-add-input input[type=image] {
    width: 35px;
    height: 35px;
}

.note-add-input .add-btns-container {
  gap: 20px;
}

.note-add-input .add-btns-container .color-picker-btn {
  margin-inline-end: 0;
}

.note-add-input .add-btns-container .bg-clr-container {
  border-radius: 6px;
  padding: 5px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.note-add-input .add-btns-container .bg-clr-container:hover {
  transition: 0.3s;
  background-color: #ececec54;
  border: 1px solid rgba(204, 204, 204, 0.377);
  border-radius: 6px;
}

.note-add-input .add-btns-container .note-color-picker {
  border-radius: 6px;
  align-self: center;
}

.note-add-input input[type="color"] {
  width: 40px;
  height: 40px;
}

.note-add-input .form-types {
    gap: 10px;
}

.note-add-input h4 {
    margin-inline-end: 10px;
}

.form-details button[name="create-btn"] {
    width: 80px;
    background-color: rgb(236, 255, 251);
    border: 1px solid rgb(152, 184, 184);
    border-radius: 5px;
    box-shadow: -1px 2px 4px 1px #cbcbcb;
}
