.note-add-input {
    width: 600px;
    /* height: 90px; */
    border-radius: 10px;
    border: none;
    box-shadow: -1px 2px 4px 1px #cbcbcb;
    margin-top: 35px;
    margin-bottom: 75px;
}

.note-add-input textarea, input {
    display: inline-block;
    width: 400px;
    height: inherit;
    border-radius: 10px;
    border: 1px solid black;
    padding-inline-start: 18px;
    font-family: roboto, Arial, sans-serif;
    font-size: 1.125rem;
    color: #4C4C4C;
    resize: none;
    vertical-align:top;
    background-color: transparent;    
    
}

.note-add-input textarea:focus {
    outline: none;
}

.note-add-input img {
    height: 30px;
    width: 30px;
}