.note-preview {
  border: 1px rgba(224, 224, 224, 1) solid;
  width: 240px;
  border-radius: 6px;
  font-size: 0.875rem;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  cursor: pointer;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.note-preview > *:not(img) {
  padding: 0 16px;
}

.note-preview iframe {
  border: none;
  /* width:100%;
  height: 56.25%; */
  margin-bottom: 15px;
  transform: translateX(-16px);
}

.note-preview .preview-vid-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.note-preview h2 {
  font-size: 1rem;
  margin-top: 12px;
  margin-bottom: 10px;
}



.note-preview .todo-content {
  padding: 0 16px;
}

.note-preview button {
  width: 80px;
  background-color: var(--preview-color);
  border: 1px solid rgb(152, 184, 184);
  border-radius: 5px;
  box-shadow: -1px 2px 4px 1px #cbcbcb;
}

.note-preview li {
  margin-bottom: 10px;
}

.note-preview .preview-icons input {
  width: 20px;
  height: 20px;
}

.note-preview .preview-icons {
  gap: 15px;
  justify-content: flex-end;
}

.note-preview p {
  margin-bottom: 20px;
}