.note-content h2 {
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 0 16px;
}

.note-content .img-content p {
    padding: 0 16px;
}

.note-content .todo-content {
    padding: 0 16px;
}